.compare-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compare-table-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #132a55;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #132a55;
}

caption {
  caption-side: top;
  font-size: 1.5em;
  margin: 10px;
  font-weight: bold;
}

.compare-second-part-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin: 20px;
}

.compare-second-part-section h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #fff;
  font-style: italic;
}

.compare-second-part-section p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #cbd5e1;
}

.compare-second-part-section ol {
  list-style-type: lower-alpha;
}

.compare-second-part-section ol li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #cbd5e1;
}

