:root {
  --color-x-border: #60c3f9;
  --color-x-shadow: #3b4d6b;
  --color-x-shadow-inset: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.x-container, .x-dimension {
  position: absolute;
  top: -10%;
  height: 90%;
  right: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xcircle {
  position: absolute;
  background: transparent;
  width: calc(var(--i) * 1.5vmin);
  aspect-ratio: 0.8;
  border-radius: 50%;
  border: 3px solid var(--color-x-border);
  transform-style: preserve-3d;
  transform: rotateX(70deg) translate(40px);
  animation: x-animate 3s ease-in-out calc(var(--i) * 0.08s) infinite;
  box-shadow: 0 0 15px var(--color-x-shadow), inset 0 0 15px var(--color-x-shadow-inset);
}

@keyframes x-animate {
  0%, 100% {
    transform: rotateX(70deg) translateZ(80px) translateY(10px);
    filter: hue-rotate(0);
  }
  50% {
    transform: rotateX(70deg) translateZ(40px) translateY(-40vmin);
    filter: hue-rotate(360deg);
  }
}
