.register-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.register-container div {
  height: 80vh;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.register-img {
  background-image: url('../img/background/join-us.jpeg');
  background-size: contain;
  background-position: center;
  padding: 40px 50px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  animation: colorPulse 5s infinite linear;
}

.register-img:hover {
  transform: scale(1.1) rotate(-12deg);
  animation-play-state: paused;
}

@keyframes colorPulse {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(100%);
  }
}

.register-content {
  background-color: #2d3e5f;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.register-content:hover {
  transform: scale(1.1);
}

.register-content h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #fff;
}

.register-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #cbd5e1;
}

.register-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.register-content form .register-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.register-content form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 1rem;
  resize: vertical;
}

.register-content form button:hover {
  background-color: #0ea5e9;
  cursor: pointer;
  transform: scale(1.1);
}

.register-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  gap: 1px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.register-links p a {
  color: #1d8a6f;
  text-decoration: underline;
  padding: 0;
}

.register-links p {
  color: #cbd5e1;
  text-decoration: none;
  padding: 0;
}
