:root {
  --main-container-color: #12213a;
  --wave-bg: rgba(44, 74, 104, 0.4);
  --wave-shadow: rgba(20, 29, 42, 0.5);
  --wave-before-color: rgba(46, 139, 186, 1);
  --wave-after-color: #12213a;
}

.waves {
  position: relative;
  height: 120px;
  background: var(--wave-bg);
  box-shadow: inset 0 0 50px var(--wave-shadow);
  transition: 500ms;
  overflow: hidden;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -68vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 35%;
  background: var(--wave-before-color);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 35%;
  background: var(--wave-after-color);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
